div.read-out {
  border-left: none;
  border-right: none;
  border-top: 1px ridge var(--color-border-light-tertiary);
  border-bottom: 1px ridge var(--color-border-light-tertiary);
  box-shadow: 0 5px 10px -8px #000;
  padding: 0.25rem;
  margin: 0.5rem 0;
}
div.read-out p {
  font-family: 'Roboto Condensed'; /* Change to 'Good OT' if you have that font available */
  font-size: 1.05em; /* using the x.xxem format means that your size changes scale with the default font size set by Foundry, but you can set this value to the height in pixels you want (e.g. 12px) or the percentage of the base font height (e.g. 105%) */
}
figure.insert {
   float: right;
   max-width: 33%;
   margin: 0;
}
figure.insert figcaption {
   font-family: 'Gelasio';
   text-transform: uppercase;
   font-style: normal;
}
figure.insert img {
   border: 0;
}
div.side-box {
   border-left: none;
   border-right: none;
   border-top: 1px ridge var(--color-border-light-tertiary); /* These borders will only appear on the top and bottom and will use a variable that comes with Foundry by default. You can change this to any other variable or just #000 if you want the borderd to be black*/
   border-bottom: 1px ridge var(--color-border-light-tertiary);
   background: rgba(0, 0, 0, 0.05); /* Side Boxes in Pathfinder often have a background so that they stand out from body text. You can set this to any color you like, I've set this one to the default color of a table in Foundry */
   float: right;
   max-width: 33%;
   margin: 0 0 1% 1%; /* This will make a small margin on the left and bottom sides of the box */
}
div.side-box p {
   font-family: 'Roboto Condensed'; /* Don't forget to switch this to Good OT if you have that font */
   font-size: 1.05em;
}
div.side-box p.header {
   font-family: 'Roboto Condensed';
   font-size: 1.2em;
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
}